.articles {
    padding: 0 $default-padding;
    margin-top: #{2 * $header-height}; //para salvar el gap del menú y el header

    @include if-is-large-screen {
        margin-top: #{$header-height * $header-factor-growth};
    }
}