.web-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $attention-color;
    color: $default-background-color;
    padding: $default-padding;

    p {
        margin: 0.3em 0;
        line-height: 1em;
    }

    a {
        color: $default-background-color;
    }
    
    @include if-is-medium-screen {
        position: static;
    }
}